[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/cpp-terminal"]
	path = third_party/cpp-terminal
	url = https://github.com/matazure/cpp-terminal
[submodule "third_party/xeus"]
	path = xeus_prajna/third_party/xeus
	url = https://github.com/jupyter-xeus/xeus
[submodule "third_party/json"]
	path = xeus_prajna/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/xtl"]
	path = xeus_prajna/third_party/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "third_party/xeus-zmq"]
	path = xeus_prajna/third_party/xeus-zmq
	url = https://github.com/jupyter-xeus/xeus-zmq.git
[submodule "third_party/cppzmq"]
	path = xeus_prajna/third_party/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "third_party/libzmq"]
	path = xeus_prajna/third_party/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "third_party/openssl"]
	path = xeus_prajna/third_party/openssl
	url = https://github.com/openssl/openssl
[submodule "xeus_prajna/third_party/xwidgets"]
	path = xeus_prajna/third_party/xwidgets
	url = https://github.com/jupyter-xeus/xwidgets.git
[submodule "xeus_prajna/third_party/xproperty"]
	path = xeus_prajna/third_party/xproperty
	url = https://github.com/jupyter-xeus/xproperty.git
